# Build folders
build/
out/
bin/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled files
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib

# Logs
*.log

# Visual Studio
.vs/
*.vcxproj.user
*.VC.db
*.VC.opendb

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Temporary files
*.tmp
*.temp
